{% extends "officer/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table  border="1">
  <tr style="background: #4DC7A0; color: #000;">
      <th scope="row">Quantity</th>
      <td><input type="text" name="textfield2" id="textfield2" /></td>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" class="btn btn-success" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
