<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table  border="1">
    <tr>
    <td scope="col"><a href="/officer_view_profile">View profile</a></td>
  </tr>
  <tr>
    <td scope="col"><a href="/officer_view_crop">View crop</a></td>
  </tr>
  <tr>
    <td><a href="/officer_view_fertilizer">View fertilizer</a></td>
  </tr>
  <!--<tr>
    <td><a href="/officer_view_stock">view stock</a></td>
  </tr>-->
  <tr>
    <td><a href="/officer_view_request">view request</a></td>
  </tr>
  <tr>
    <td><a href="/officer_view_machine">View machine</a></td>
  </tr>
  <tr>
    <td><a href="/officer_add_story">Add story</a></td>
  </tr>
  <tr>
    <td><p><a href="/officer_view_story">View story</a></p></td>
  </tr>
     <tr>
    <td><a href="/officer_add_tool">Add tool</a></td>
  </tr>
  <tr>
    <td><a href="/officer_view_tools">View tool</a></td>
  </tr>
  <tr>
    <td><a href="/officer_view_notification">view notification</a></td>
  </tr>
    <tr>
    <td scope="col"><a href="/officer_change_password">change password</a></td>
  </tr>
</table>
</body>
</html>
