{% extends "officer/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <table class="table table-bordered" align="center">
  <tr style="background: #4DC7A0; color: #000;">
    <td>SL NO</td>
    <td>TOOL NAME</td>
    <td>QUANTITY</td>
    <td>DESCRIPTION</td>
    <td>PRICE</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data  %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>&nbsp;{{ i['tool_name'] }}</td>
    <td>&nbsp;{{ i['quantity'] }}</td>
    <td>{{ i['description'] }}</td>
    <td>&nbsp;{{ i['price'] }}</td>
    <td><a href="/officer_delete_tool/{{ i['tool_id'] }}#content" onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">DELETE</a></td>
  </tr>
     {% endfor %}
</table>
</body>
</html>
{% endblock %}
