{% extends "officer/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <table class="table table-bordered" align="center">
  <tr style="background: #4DC7A0; color: #000;">
    <th scope="col">SL NO</th>
    <th scope="col">FARMER NAME</th>
    <th scope="col">EMAIL</th>
    <th scope="col">PHONE</th>
    <th scope="col">ADDRESS</th>
    <th scope="col">&nbsp;</th>
  </tr>
     {% for i in data  %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['farmername'] }}</td>
    <td>&nbsp;{{ i['email'] }}</td>
    <td>&nbsp;{{ i['phone'] }}</td>
    <td>&nbsp;{{ i['house'] }}<br>{{ i['place'] }}<br>{{ i['pin'] }}</td>
    <td><a href="/officer_chat_farmer/{{ i['farmer_id'] }}/{{ i['farmername'] }}#content" class="btn btn-info">Chat</a></td>
  </tr>
     {% endfor %}
</table>
</body>
</html>
{% endblock %}
