{% extends "officer/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered" style="width: 600px;" align="center">
  <tr style="background: #4DC7A0; color: #000;">
      <td>NAME</td>
      <td><input type="text" name="textfield" id="textfield" value="{{ data.name }} " readonly/></td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ data.email }}"readonly/></td>
    </tr>
    <tr>
      <td>PHONE NO</td>
      <td><input type="text" name="textfield3" id="textfield3" value="{{ data.phone }}" readonly/></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><input type="text" name="textfield4" id="textfield4" value="{{ data.place }}" readonly/></td>
    </tr>
    <tr>
      <td>DISTRICT</td>
      <td><input type="text" name="textfield5" id="textfield5" value="{{ data.district }}"readonly /></td>
    </tr>
   

  </table>
</form>
</body>
</html>
{% endblock %}
