<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>
<body>
<form action="" method="get">
    <table class="table table-bordered" style="width: 600px;" align="center">
    <tr>
    <td><a href="/f_view_profile">view profile</a></td>
  </tr>
  <tr>
    <td><a href="/f_add_bank">add_bank_account</a></td>
  </tr>
  <tr>
    <td><a href="/f_add_enquiry">add enquiry</a></td>
  </tr>
  <tr>
    <td><a href="/f_add_payment">add payment</a></td>
  </tr>

  <tr>
    <td><a href="/f_add_production">add production </a></td>
  </tr>

  <tr>
    <td><a href="/f_add_schedule">add schedule </a></td>
  </tr>
  <tr>
    <td><a href="/f_send_complaint">send complaint </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_applicaton">view application </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_crop">view crop </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_faq"> view FAQ</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_fertilizer">view fertilizer </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_machine">view machine </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_my_order"> view my order </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_my_product"> view my product</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_notification"> view notification</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_other_product">view other product </a></td>
  </tr>
  <tr>
    <td><a href="/f_view_policy"> view policy</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_price"> view price</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_reply">view reply </a></td>
  </tr>

  <tr>
    <td><a href="/f_view_schedule"> view schedule</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_selling_product_request"> view selling product request</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_request"> view request</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_story"> view story</a></td>
  </tr>
  <tr>
    <td><a href="/f_view_subsidy"> view subsidy</a></td>
  </tr>
    <tr>
    <td><a href="/f_send_feedback">send feedback</a></td>
  </tr>
    <tr>
    <td><a href="/farmer_view_officers">Doubt Clearance</a></td>
  </tr>


</table>
</form>


</body>
</html>
