{% extends "admin/index.html" %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered" style="width: 600px;" align="center">
    <tr>
      <th scope="col">Name</th>
      <th scope="col"><input type="text" name="textfield" id="textfield" value="{{ data['name'] }}" class="form-control"/></th>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ data['email'] }}" class="form-control" readonly/></td>
    </tr>
    <tr>
      <th scope="row">phone</th>
      <td><input type="text" name="textfield3" id="textfield3" value="{{ data['phone'] }}" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">place</th>
      <td><input type="text" name="textfield4" id="textfield4" value="{{ data['place'] }}" class="form-control"/></td>
    </tr>
    <tr>
      <th scope="row">district</th>
      <td><input type="text" name="textfield5" id="textfield5" value="{{ data['district'] }}" class="form-control"/></td>
    </tr>
    <tr align="center">
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="EDIT" class="btn btn-success"/></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}