<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
  <table class="table table-bordered" style="width: 600px;" align="center">
  <tr>
    <th scope="col"><a href="/admin_add_officer">add agriculture office</a></th>
  </tr>
  <tr>
    <td><a href="/admin_view_agriculture_officer">  view agriculture office</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_policy">add policy </a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_policy">view policy </a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_Application">add application</a></td>
  </tr>
     <tr>
    <td><a href="/admin_view_application"> view application</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_notification">add notification</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_notification">view notification</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_feedback">view feedback</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_compliant">view complaint</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_machine">add machine</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_machine">view machine</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_crop">add crop</a></td>
  </tr>
  <tr>
    <td height="26"><a href="/admin_view_crop">view crop</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_FERTILIZER">add fetilizer</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_FERTILIZER"> view fertilizer</a></td>
  </tr>

  <tr>
    <td><a href="/admin_add_price">add price</a></td>
  </tr>
    <tr>
    <td><a href="/admin_view_price">view price</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_contact">add contact</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_contact"> view contact</a></td>
  </tr>
  <tr>
    <td><a href="/admin_view_enquiry"> view enquiry</a></td>
  </tr>
  <tr>
    <td><a href="/admin_add_FAQ">add FAQ</a></td>
  </tr>
    <tr>
    <td><a href="/admin_view_FAQ">VIEW FAQ</a></td>
  </tr>

  <tr>
    <td><a href="/admin_add_subsidy">add subsidy</a></td>
  </tr>
  <tr>
      <td><a href="/admin_view_subsidy">view subsidy</a></td>
  </tr>
</table>
</body>
</html>
